.wz-message {
  padding: 10px;
  background: white;
}

.wz-info {
  color: darkslategrey;
  border: 2px solid darkslategrey;
}

.wz-error {
  color: darkred;
  border: 2px solid darkred;
}

.wz-hidden {
  display: none !important;
}

.wz-spinner {
  max-height: 25px;
  display: inline;
}